{% extends 'base.html.twig' %}

{% block title %}Vos recettes
{% endblock %}

{% block body %}
	<h1>Nos recettes</h1>

	{% if is_granted('ROLE_ADMIN') %}
		<div class="mb-4">
			<a href="{{ path('app_add_recipe') }}" class="btn btn-primary">Ajouter une recette</a>
		</div>
	{% endif %}

	{% for recipe in recipes %}
		<div class="card my-4">
			<div class="card-body">
				<h5 class="card-title">{{ recipe.name }}</h5>
				<p class="card-text">Ingrédients :
					{{ recipe.ingredients }}</p>
				<p class="card-text">Étapes :
					{{ recipe.steps }}</p>
				{% if recipe.picture %}
					<img src="{{ asset('uploads/' ~ recipe.picture) }}" alt="Image de la recette" class="img-fluid">
				{% else %}
					<p>Aucune image disponible.</p>
				{% endif %}
			</div>
		</div>
	{% endfor %}

{% endblock %}
